<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<script type="text/javascript" src="/validation.js"></script>
<html>

<body class="index">

<div class="center">

    <h2>Job Applications</h2>

    <h3>Submit an Application</h3>
    <form method="post" name="applicationForm" action="/applications/create" onsubmit="return validateForm()">
        <div class="form-field">
            <label for="company">Company Name: </label>
            <input class="company" id="company" name="company_field" type="text" placeholder="EvilCorp LLC.">
            <br>
        </div>
        <div class="form-field">
            <label for="position">Position title: </label>
            <input class="position" id="position" name="position_field" type="text" placeholder="Software Developer">
            <br>
        </div>
        <div class="form-field">
            <label for="experience">Experience level: </label>
            <input class="experience" id="experience" name="experience_field" type="text" placeholder="Entry Level">
            <br>
        </div>
        <div class="form-field">
            <label for="source">Job Source: </label>
            <input class="source" id="source" name="source_field" type="text" placeholder="LinkedIn">
            <br>
        </div>
        <div class="form-actions">
            <input class="btn" type="submit" value="Submit Application">
        </div>
    </form>

    <div class="error" id="errorDiv">
         
    </div>

    <h3>Delete</h3>
    <form action="/applications/delete" method="post">
        <select onchange="this.form.submit()" name="company">
            <option></option>
            <% applications.forEach(function(app) { %>
                <option><%= app.company %></option>
            <% }); %>
        </select>
    </form>

    <h3>Applications</h3>
    <div>
    <% applications.forEach(function(app) { %>
        <br>
        Company: <%= app.company %> <br>
        Position: <%= app.position %> <br>
        Experience: <%= app.experience %> <br>
        Source: <%= app.source %> <br>
    <% }); %>
    </div>
</div>

</body>

</html>