<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/post.js"></script>
<html>

<body class="index">

<div class="header">
        <h2>Job Applications</h2>
</div>

<div class="column1">
    <div class="form-wrapper">
        <form id="applicationForm" class="applicationForm" name="applicationForm">
            <div class="form-field">
                <label for="company">Company Name</label>
                <input type="text" class="input" id="company" name="company_field">
                <br>
            </div>
            <div class="form-field">
                <label for="position">Position title</label>
                <input type="text" class="input" id="position" name="position_field">
                <br>
            </div>
            <div class="form-field">
                <label for="experience">Experience level</label>
                <input type="text" class="input" id="experience" name="experience_field">
                <br>
            </div>
            <div class="form-field">
                <label for="source">Job Source</label>
                <input type="text" class="input" id="source" name="source_field">
                <br>
            </div>
            <div class="form-actions">
                <input type="submit" class = "input" id="btn" class="btn" value="Submit Application">
            </div>
        </form>

        <div class="error" id="errorDiv"></div>
    </div>
</div>

<div class="column2">
    <div class="applications-wrapper">
        <form id="applicationDelete" class="applicationDelete" name="applicationDelete">
            <div class="delete-wrapper">
                <input type="submit" class="delete" id="delete-btn" class="delete-btn" value="Delete Application">
            </div>
            <% applications.forEach(function(app) { %>
                <div class="application-wrapper">
                    <div class="checkbox">
                        <input type="checkbox" class=<%= app.company %>>
                    </div>
                    <div class="application">
                        Company: <%= app.company %> <br>
                        Position: <%= app.position %> <br>
                        Experience: <%= app.experience %> <br>
                        Source: <%= app.source %> <br>
                    </div>
                </div>
            <% }); %>
        </form>
    </div>
</div>

</body>

</html>