<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<html>

<body class="index">

<div class="center">

    <h2>Job Applications</h2>

    <form action="/index" method="post">
        <label for="company">Company Name: </label>
        <input id="company" type="text" name="company_field" placeholder="EvilCorp LLC.">
        <br>
        <label for="position">Position title: </label>
        <input id="position" type="text" name="position_field" placeholder="Software Developer">
        <br>
        <label for="experience">Experience level: </label>
        <input id="experience" type="text" name="experience_field" placeholder="Entry Level">
        <br>
        <label for="source">Job Source: </label>
        <input id="source" type="text" name="source_field" placeholder="LinkedIn">
        <br>
        <input type="submit" value="Submit Application">
    </form>

    <h3>Delete</h3>
    <form action="/delete" method="post">
        <select onchange="this.form.submit()" name="application">
            <option></option>
            <% applications.forEach(function(app) { %>
                <option><%= app.company %></option>
            <% }); %>
        </select>
    </form>

    <ul>
        <% applications.forEach(function(app) { %>
            <li>Company: <%= app.company %> <br>
                Position: <%= app.position %> <br>
                Experience: <%= app.experience %> <br>
                Source: <%= app.source %> <br>
            </li>
        <% }); %>
    </ul>

</div>

</body>

</html>